/* CSS amélioré */
.app-content {
   margin: 40px 20px 20px 20px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 30px;
}

.content-box {
   border: 1px solid #ccc;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s;
}

.content-box:hover {
   transform: translateY(-10px);
}

.content-box-title {
   font-size: 1.5em;
   margin-bottom: 15px;
   color: #007B8A;
   text-align: center;
}

.content-box-body {
   line-height: 1.8;
   color: #333;
}

/* Typographie et couleurs */
body {
   font-family: 'Arial', sans-serif;
   color: #444;
   background-color: #f9f9f9;
   margin: 0;
   padding: 0;
}

h2 {
   font-family: 'Helvetica', sans-serif;
}

strong {
   color: #007B8A;
}
