<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Réinitialisation de mot de passe - TYPI FAST</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
{% include 'header.html' %}

<body>
    <div class="main">
        <img src="{{ url_for('static', filename='images/login.jpeg') }}" alt="Image de réinitialisation de mot de passe" style="opacity: calc(1 / (28 / 12)); width: 100%; height: 98%;">
    </div>

    <div class="form">
        <div class="container">
            <form method="POST">
                <label for="password"><b><i class="fas fa-lock"></i>&nbsp;&nbsp;Nouveau mot de passe</b></label>
                <div class="input-icon">
                    <input type="password" placeholder="Entrez votre nouveau mot de passe" name="password" required>
                </div>
                <button type="submit"><i class="fas fa-lock"></i> Réinitialiser le mot de passe</button>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
