<footer class="footer" style="border:black"> 
    <div class="container bottom_border">
      

    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="#">Accueil</a></li>
            <li><a href="#"> propos</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Tarification</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p class="text-center">Droits d'auteur @2024 | Conçu par <a href="#">TYPIFAST</a></p>
        <ul class="social_footer_ul">
            <li><a href="quebeccenter.fr"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"> <i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>
