<html lang="en">
<head>
    <title>TYPI FAST </title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% include 'header.html' %}
   
</head>
<body>
  <div class="main">
    {% if logged_in %}
    <img src="{{ url_for('static', filename='images/officejpg.jpg') }}" alt="Hero Image"style="height:91.5%;width:100%;">
    {% else %}
    <img src="{{ url_for('static', filename='images/hero.jpg') }}" alt="Hero Image"style="width:100%;height:100%">
    {% endif %}

        </div> 
        <div class="content1">
            {% if logged_in %}
            <h1>{{ session['pseudo'] }}!</h1>
            <h1>Bienvenu a<br><span>TYPIFAST</span></h1>
            <p class="par"></p>
            <button class="cn"><a href="{{ url_for('typing_course') }}">Commencez à apprendre</a></button>
            <button class="cn1"><a href="{{ url_for('testvit') }}"> Testez votre vitesse</a></button>
            <button class="cn"><a href="{{ url_for('login_success') }}">dashboard {{ session['pseudo'] }}!</a></button>
            <button class="cn1"><a href="{{ url_for('profile') }}"> Profile</a></button>
            {% else %}
            <h1>Bienvenu a<br><span>TYPIFAST</span></h1>
            <p class="par">Bienvenue sur notre plateforme d'amélioration de la vitesse de frappe ! 
		 <br>Entraînez-vous avec nos exercices interactifs pour taper plus rapidement et avec plus de précision.
                <br>Prêt à relever le défi ? Commencez dès maintenant !</p>    

                <button class="cn"><a href="{{ url_for('test_vitesse_clavier') }}">Tester votre vitesse!</a></button>
                <button class="cn1"><a href="{{ url_for('register') }}">S'inscrire</a></button>
            {% endif %}

</div>
</div>
</body>
</div>
</div>


</html>

{% include 'footer.html' %}